@model IEnumerable<UserListViewModel>

@{
	ViewData["Title"] = "Users Page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/users.css" />



<div class="users-div">
	<h3 class="user-title">Users</h3>
</div>

<article class="user-article">
	<table>
		<thead>
			<tr class="table-row">
				<th>ID</th>
				<th>Username</th>
				<th>Full name</th>
				<th>E-mail</th>
				<th>Phone number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Username</td>
					<td>@user.FullName</td>
					<td>@user.Email</td>
					<td>@user.PhoneNumber</td>
					<td>
						<a asp-area="Admin" asp-action="Roles" asp-controller="User" asp-route-id="@user.Id" type="submit" class="btn btn-block btn-outline-info btn-xs">Roles</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</article>
