@model ICollection<Order>

@{
	ViewData["Title"] = "All orders";
}

<h1 class="text-center">@ViewData["Title"]</h1>
@if (Model.Any())
{
	@foreach (var order in Model)
	{
		<div class="row col-lg-11 my-4">
			@if (order.Proteins.Any())
			{

				@foreach (var protein in order.Proteins)
				{
					<div class="col-md-4 mt-3">


						<div class="card mb-3">
							<img src="@protein.ImageUrl" class="card-img-top w-75 center" alt="@protein.Name @protein.Grams - @protein.Price (@protein.ProteinCategory.Name)">
							<div class="card-body text-center">
								<h5 class="card-title text-center center">@protein.Name (@protein.Flavour) - @protein.Grams</h5>
								<h6 class="card-title text-center center mt-3">@protein.Price $</h6>
							</div>
						</div>
						<div class="mb-4"></div>
					</div>
				}

				<div class="col-9">
					<label for="@order.OrderTotal">Total price in dollars:</label>
					<input readonly asp-for="@order.OrderTotal " type="text" class="form-control" />
				</div>
				<div class="col-9">
					<label for="@order.TransactionId">Order number:</label>
					<input readonly asp-for="@order.Id" type="text" class="form-control" />
				</div>
				<div class="col-9">
					<label for="@order.TransactionId">Time of order:</label>
					<input readonly asp-for="@order.OrderDate" type="text" class="form-control" />
				</div>
			}

		</div>
	}
}
else
{
	<h2 class="text-center">You don't have any orders yet.</h2>
}